@import "core/_reset.scss";
@import "core/variables" 



// to delete

.hero {
    border: solid 3px red;
}

.main__content {
    border: solid 3px blue;
}

.footer {
    border: solid 3px green;
}

.hamburguer {
    border: solid 3px violet;
}

.main__intro {
    border: solid 3px purple;
}

.main__reasons {
    border: solid 3px rgb(230, 230, 82);
}

.copy {
    border: solid 3px #666666;
}

.secciones-web {
    border: solid 3px #4d3fca;
}

.social-media-links {
    border: solid 3px red;
}