<footer class="footer">

    <a class="footer__arrow" href="#"  title="Go to top">
     <img src="/assets/images/ico-arrow.svg" alt="Go to Adalab">
    </a>
   
    <nav>
      <ul class="footer__list footer__sections-list">
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">
          Articles</a>
        </li>
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">Books</a>
        </li>
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">
            Events</a>
        </li>
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">
            Reasons</a>
        </li>
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">
            Tips</a>
        </li>
      </ul>
    </nav>

    <nav>
      <ul class="footer__list footer__links-list">
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">
            Twitter</a>
        </li>
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">
            Instagram</a>
        </li>
        <li>
          <a class="footer__link" href="https://adalab.es/"  title="Go to Adalab" target="_blank">
            Mastodon.social</a>
        </li>
      </ul>
    </nav>

    <small class="footer__copy">
      <p>&copy2017</p>
      <p>We <span class="footer__heart">&#9829</span> components</p>
    </small>
    
  </footer>