<footer class="footer">
    <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
    <img src="/assets/images/ico-arrow.svg" alt="Link a Adalab">
    </a>
    <small class="copy">
      <span>&copy2017</span>
      <span>We &#9829 components</span>
    </small>
    <nav>
      <div class="secciones-web">
        <ul>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
            Articles</a>
          </li>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">Books</a>
          </li>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
              Events</a>
          </li>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
              Reasons</a>
          </li>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
              Tips</a>
          </li>
        </ul>
      </div>

      <div class="social-media-links">
        <ul>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
              Twitter</a>
          </li>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
              Instagram</a>
          </li>
          <li>
            <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
              Mastodon.social</a>
          </li>
        </ul>
      </div>
    </nav>
  </footer>