<main class="main__content">

    <article class="main__intro">
      <small>Insomnia tips</small>
      <h2>Looking throught a window</h2>
      <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button>Go</button>
    </article>

    <aside class="main__reasons">
      <h2>3 reasons to purchase</h2>
      
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>

      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>

      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt</p>

      <button>More reasons</button>

    </aside>
  </main>