<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EvaLM-1EV
    </title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header>
      <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
        <img src="./ico-menu.svg" alt="Link a Adalab">
      </a>
      <h1>Anonimous proxi</h1>
      <p>In hac habitasse platea dictumst.</p>
      <img src="./ico-scroll-down.svg" alt="go to Reasons to purchase" title="Reasons to purchase">
    </header>

    <main>
      <article class="main__intro">
        <small>Insomnia tips</small>
        <h2>Looking throught a window</h2>
        <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button>Go</button>
      </article>

      <aside class="main__reasons">
        <h2>3 reasons to purchase</h2>
        
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>

        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>

        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt</p>

        <button>More reasons</button>

      </aside>
    </main>
    
    <footer>
      <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
      <img src="./ico-arrow.svg" alt="Link a Adalab">
      </a>
      <small>
        <p>
          &copy2017
        </p>
        <p>
          We &#9829 components
        </p>
      </small>
      <nav>
        <div class="secciones-web">
          <ul>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
              Articles</a>
            </li>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">Books</a>
            </li>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
                Events</a>
            </li>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
                Reasons</a>
            </li>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
                Tips</a>
            </li>
          </ul>
        </div>

        <div class="social-media-links">
          <ul>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
                Twitter</a>
            </li>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
                Instagram</a>
            </li>
            <li>
              <a href="https://adalab.es/"  title="Ir a Adalab" target="_blank">
                Mastodon.social</a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </body>

</html>
