.footer {
    height: 465px;
    background-color: $footer--background;
    font-family: $main-text--font;
    color: $footer--font-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 45px;

    @media all and (min-width:768px) {
        height: 240px;
        flex-direction: row;
        padding: 45px 39px 45px 39px;
    }

    @media all and (min-width:1200px) {
        padding: 45px 370px 45px 370px;
    }
}

.footer__arrow {
    background-color: $buttons--secondary-color;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(0, -81px);

    @media all and (min-width:768px) {
        transform: translate(0, -122px);
        margin-left: 43%;
    }

    @media all and (min-width:1200px) {
        margin-left: 18%;
    }
}

.footer__arrow-jump {
    animation-name: jump;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes jump {
    from {
        transform: translate(0, 4px);
    }
    to {
        transform: translate(0, -4px)
    }
}

.footer__list {
    list-style: none;
    text-align: center;

    @media all and (min-width:768px) {
        text-align: start;   
    }
}

.footer__sections-list {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media all and (min-width:768px) {
        width: 210px; 
    }

    @media all and (min-width:1200px) {
        width: 161px; 
    }
}

.footer__links-list {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media all and (min-width:768px) {
        margin-bottom: 60px;
        width: 210px;
    }

    @media all and (min-width:1200px) {
        width: 159px;
    }
}

.footer__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $footer--font-color;
}

.footer__copy {
    display: block;
    text-align: center;

    @media all and (min-width:768px) {
        order: -1;
        text-align: start;
        margin-bottom: 97px;
        line-height: 30px;
        width: 210px;
    }

    @media all and (min-width:1200px) {
        width: 159px;
    }
}

.footer__heart {
    color: $buttons--primary-color;
}
