.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 284px;
    width: 320px;
    background-image: url(../images/cover.jpg);
    background-position: top;
    height: 568px;
    color: white;
    font-family: "roboto slab";
}

.hero__title {
    text-transform: uppercase;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__text {
    padding-top: 10px;
    height: 21px;
    font-family: $main-text--font;
}

.hero__arrow {
    background-color: $buttons--secondary-color;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;  
}