.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 284px;
    width: 320px;
    background-image: url(../images/cover.jpg);
    background-position: top;
    width: 320px;
    height: 568px;
    color: white;
    font-family: "roboto slab";
}


.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.hero__arrow {
    background-color: $buttons--primary-background;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}