.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    background-image: url(../images/cover.jpg);
    height: 568px;
    color: white;
    font-family: "roboto slab";
}

.hamburguer {
    background-color: $hamburguer--background;

    position: fixed;
    transform: translate(0px, -268px);
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__arrow {
    background-color: $buttons--secondary-color;
    width: 45px;
    height: 45px;
    border-radius: 50px;

    
    transform: translate(0px, 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}