.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 284px;
    background-image: url(../images/cover.jpg);
    background-position: top;
    height: 568px;
    color: white;
    font-family: "roboto slab";

    @media all and (min-width:768px) {
        height: 768px;
        padding-top: 384px;
    }

    @media all and (max-height: 1000px){
        height: 800px;
    }
}

.hero__title {
    text-transform: uppercase;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width:768px) {
        font-size: 80px;
        line-height: 106px;
    }

    @media all and (min-width:1200px) {
        font-size: 100px;
        line-height: 132px;
    }
}

.hero__text {
    font-family: $main-text--font;
    height: 21px;
    margin-top: 10px;
    margin-bottom: 45px;
    
    @media all and (min-width:768px) {
        font-size: 24px;
        marging-top: 20px;
        margin-bottom: 30px;
    }

    @media all and (min-width:1200px) {
        marging-top: 0;
        margin-bottom: 30px;
    }
}

.hero__arrow {
    background-color: $buttons--secondary-color;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
}