// texts

$titles--font: "roboto slab";
$main-text--font: "roboto regular";
$buttons--font: "roboto medium";

// Color palette

$reasons--background: #eff9ff;
$footer--background: #304268;
$hamburguer--background: #0271bc;
$buttons--primary-background: white;
$buttons--secondary-background: #f26002;
$buttons--primary-color: #f26002;
$buttons--secondary-color: white;
