// texts

$titles--font: "roboto slab";
$main-text--font: "roboto";
$buttons--font: "roboto";

// Color palette

$reasons--background: #eff9ff;
$footer--background: #304268;
$hamburguer--background: #0271bc;
$small-text--color: #8ccbea;
$main-intro__text-color: #4a4a4a;
$footer--font-color: white;
$buttons--primary-color: #f26002;
$buttons--secondary-color: white;

